*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/
/gradle/wrapper/
/app/src/test/java/com/inappstory/inappstorysdk/
/app/src/androidTest/java/com/inappstory/inappstorysdk/
/sdk/src/androidTest/java/com/inappstory/sdk/
/sdk/src/test/java/com/inappstory/sdk/
